<div id="modalIndustrie" class="modal" data-easein="expandIn" tabindex="-1" role="dialog" aria-labelledby="modalIndustrie" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content col-sm-8 col-sm-push-2">
		<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Industrie</h4>
		</div>
		<div class="modal-body">
			<p class="col-sm-12">
				Idiese recrute et propose différents profils dans le secteur bancaire. Nous réalisons des prestations de service en entreprise dans la France entière(*) et sur l’international
			</p>
			<div>
			    <div class="row">
			        <div class="col-sm-4">
			            <div class="thumbnail bloc-thumbnail">
			                <h4 class="">Secteur d'intervention</h4>

							<ul>
								<li class="">
									Développement électronique
								</li>
								<li class="">
									Développement logiciels embarqués
								</li>
								<li class="">
									Développement mécanique
								</li>
								<li class="">
									Développement de systèmes
								</li>
								<li class="">
									Banc de tests et essais
								</li>
								<li class="">
									Cartes hautes technologies
								</li>
								<li class="">
									Câblage filaire
								</li>
								<li class="">
									Intégration coffrets et baies
								</li>
							</ul>
			            </div>
			        </div>


			        <div class="col-sm-4">
			            <div class="thumbnail bloc-thumbnail">
			                <h4 class="">Les compétences principales de nos consultants</h4>

							<ul>
								<li class="">
									Qualités relationnelles.
								</li>
								<li class="">
									Capacités d’écoute
								</li>
								<li class="">
									Esprit d’analyse et de synthèse
								</li>
								<li class="">
									Respecter des plannings
								</li>
								<li class="">
								  Etre réactif et savoir alerter la hiérarchie
								</li>
								<li class="">
									Connaissances économiques, connaissances du marché
								</li>
							</ul>
			            </div>
			        </div>

			        <div class="col-sm-4">
			            <div class="thumbnail bloc-thumbnail">
			                <h4 class="">Environnement de développement</h4>

							<ul>
								<li class="">
									C, C++, Assembleur, Java, Python, Vhdl
								</li>
								<li class="">
									Méthodes et AGL : MCSE, UML
								</li>
								<li class="">
									Simulation: MATLAB, SIMULINK CAO
								</li>
								<li class="">
									Electronique: CADENCE, PADS
								</li>
								<li class="">
									Logiciel: VxWorks, CodeWarrior, CodeBlocks, et de autres nombreux outils de développement.
								</li>
								<li class="">
									CAO mécanique: AUTOCAD, FPGA ...
								</li>
							</ul>
			            </div>
			        </div>


			    </div>
			    <p>
					Nos consultants en electronique sont très polyvalents et ont un rôle transversal qui les amènent à travailler avec de nombreux acteurs de l'entreprise, des ingénieurs, des techniciens, la maîtrise d'ouvrage, les équipes de recette et de support. Il font preuve d'une culture technologique élevée, d'une capacité d'analyse indéniable, de l'esprit de service et de conseil, d'un esprit critique et surtout d'une capacité d'adaptation très rapide.
			    </p>
			    <!--/row-->
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Fermer</button>
		</div>
    </div>
  </div>
</div>