<div id="modalMultimedia" class="modal" data-easein="bounceLeftIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content  col-sm-8 col-sm-push-2">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h4 class="modal-title">Multimedia</h4>
		</div>
		<div class="modal-body">
			Idiese recrute et propose différents profils dans le secteur bancaire. Nous réalisons des prestations de service en entreprise dans la France entière(*) et sur l’international
			<div>
			    <div class="row">
			        <div class="col-sm-3">
			            <div class="thumbnail">
			                <img src="http://placehold.it/320x125/EEE" class="">
			                <div class="caption">
			                     <h4 class="">Secteur d'intervention</h4>

			                    <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a>  <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>

			                </div>
			            </div>
			        </div>
			        <div class="col-sm-3">
			            <div class="thumbnail">
			                <img src="http://placehold.it/320x125/EEE" class="">
			                <div class="caption">
			                     <h4 class="">Application</h4>

			                    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
			                        culpa itaque odio similique suscipit</p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a>  <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>

			                </div>
			            </div>
			        </div>
			        <div class="col-sm-3">
			            <div class="thumbnail">
			                <img src="http://placehold.it/320x125/EEE" class="">
			                <div class="caption">
			                     <h4 class="">Application</h4>

			                    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
			                        culpa itaque odio similique suscipit</p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a>  <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>

			                </div>
			            </div>
			        </div>
			        <div class="col-sm-3">
			            <div class="thumbnail">
			                <img src="http://placehold.it/320x125/EEE" class="">
			                <div class="caption">
			                     <h4 class="">Application</h4>

			                    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
			                        culpa itaque odio similique suscipit</p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a>  <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>

			                </div>
			            </div>
			        </div>
			    </div>
			    <!--/row-->
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Fermer</button>
		</div>
    </div>
  </div>
</div>