<div id="modalTelcom" class="modal" data-easein="bounceRightIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content col-sm-8 col-sm-push-2">
		<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">TELCOM</h4>
		</div>
		<div class="modal-body">
			<p class="col-sm-12 modal-title
			">
				idiese réalise des prestations de service en entreprise dans la France entière(*) et sur l’international
			</p>
			<div>
			    <div class="row">
			        <div class="col-sm-4">
			            <div class="thumbnail bloc-thumbnail">
			                <h4>Ingénierie</h4>

							<ul>
								<li>
									Architecture de réseaux telecom
								</li>
								<li>
									Faisceaux Hertziens
								</li>
								<li>
									Fibre optique
								</li>
								<li>
									Réseaux informatiques
								</li>
								<li>
									Réseaux Haute tension et basse tension
								</li>
								<li>
									Réseaux informatiques
								</li>
							</ul>
			            </div>
			        </div>

			        <div class="col-sm-4">
			            <div class="thumbnail bloc-thumbnail">
			                <h4>Bureau d’etudes</h4>

							<ul>
								<li>
									VT
								</li>
								<li>
									Plans D.A.O
								</li>
								<li>
									Dossier d’installation de site
								</li>
								<li>
									Dossier configuration de site
								</li>
								<li>
									Etude des faisabilité, etude de charge
								</li>
							</ul>
			            </div>
			        </div>

			       <div class="col-sm-4">
			            <div class="thumbnail bloc-thumbnail">
			                <h4>Réseaux</h4>

							<ul>
								<li>
									Réseaux Telecom mobile/fixe
								</li>
								<li>
									3G. LTE. X25. SDH. ATM…
								</li>
								<li>
									Commutateurs
								</li>
								<li>
								  Terminaux de gestion
								</li>
								<li>
									Reseau d’exploitation
								</li>
								<li>
								 	systeme de billing
								</li>
								<li>
									intelligent network
								</li>
							</ul>
			            </div>
			        </div>

			        <div class="col-sm-4">
			            <div class="thumbnail bloc-thumbnail">
			                <h4>Direction de projets</h4>

							<ul>
								<li>
									AMOA-AMOE
								</li>
								<li>
									Conduite de projet
								</li>
								<li>
									Commutateurs
								</li>
								<li>
								  Conduite de travaux
								</li>
								<li>
									Déploiement de réseaux
								</li>
								<li>
								 	Marketing achat/vente
								</li>
								<li>
									Management
								</li>
								<li>
								 	Finance
								</li>
								<li>
									Ressources humaines
								</li>
							</ul>
			            </div>
			        </div>

			        <div class="col-sm-4">
			            <div class="thumbnail bloc-thumbnail">
			                <h4>Transmissions Hertziennes/Terrestres</h4>

							<ul>
								<li>
									Topographie
								</li>
								<li>
									Ingeniere , administration
								</li>
								<li>
									Direction de travaux
								</li>
								<li>
								  Mise en service
								</li>
								<li>
									Maintenance d’equipements
								</li>
							</ul>
			            </div>
			        </div>

			        <div class="col-sm-4">
			            <div class="thumbnail bloc-thumbnail">
			                <h4>Audit, mesure et recettes</h4>
							<ul>
								<li>
									Topographie
								</li>
								<li>
									Audit de sous traitant
								</li>
								<li>
									Drive Test
								</li>
								<li>
								  Mise en service
								</li>
								<li>
									Mesure et recette
								</li>
							</ul>
			            </div>
			        </div>

			    </div>
			    <p>
					Toujours soucieux au plus haut point de la qualité de leurs services, nos consultants en informatique sont d'autant plus mis à rude épreuve car ils doivent non seulement représenter leur propre notorié mais également l'image de marque de la société iDiese qui leur confie la mission, et bien entendu, préserver et faire valoir la réputation du client.
			    </p>
			    <!--/row-->
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Fermer</button>
		</div>
    </div>
  </div>
</div>