    <!-- Start About Us Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="section-desc">
                <h2>A Propos De Nous</h2>
                <p><b>IDIESE</b> est constituée d'un groupe d’ingénieurs formé des grandes écoles.
                Fondée en 2014, <b>IDIESE</b> offre son savoir faire dans les domaines des nouvelles technologies et intervient sur de multiples projets.</p>
            </div>
            <div class="row">
                <div class="col-md-4 animated  bounceInLeft">
                    <div class="welcome-section text-center">
                        <img src="./images/macbook-apple-imac-computer.jpeg" class="img-responsive" alt="..">
                        <h4>Notre Philosophie</h4>
                        <div class="border"></div>
                        <p>Accompagner nos clients dans la réalisation et l’optimisation de leurs projets, grâce à une expertise opérationnelle et technique.</p>
                    </div>
                </div>
                
                <div class="col-md-4 animated  bounceInDown">
                    <div class="welcome-section text-center">
                        <img src="./images/mission.jpeg" class="img-responsive" alt="..">
                        <h4>Notre Mission & Vission</h4>
                        <div class="border"></div>
                        <p>
                            Proposer des services d’accompagnement personnalisées, basées sur l’application du cahier des charges de chaque client, de la conception jusqu’à la réalisation finale du produit.
                        </p>
                    </div>
                </div>
                
                <div class="col-md-4 animated  bounceInRight">
                    <div class="welcome-section text-center">
                        <img src="./images/hand.jpeg" class="img-responsive" alt="..">
                        <h4>Nos valeurs</h4>
                        <div class="border"></div>
                        <p>Établir avec nos partenaires des relations de long terme basées sur un service de qualité et d’efficacité.</p>
                    </div>
                </div>
                
            </div><!-- /.row -->            
            
        </div><!-- /.container -->
    </section>
    <!-- End About Us Section -->
