<!-- Footer -->
<footer>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 segment">
                <a href="#" title="Hallooou - HTML5 Template">
                    <h2>
                        <img src="images/logo-120.jpg" alt="IDIESE" class="img-responsive" />
                    </h2>
                </a>
                <p class="white">We believe in Simple, Creative &amp; Flexible Design Standards.</p>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->

    </div><!-- /.container -->

    <div class="copynote">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    &copy; 2015. Hallooou. All rights reserved.
                </div><!-- /.col-md-12 -->

            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.copynote -->

    <div class="nav pull-right scroll-top">
        <a href="#page-top" title="Scroll to top"><i class="glyphicon glyphicon-arrow-up"></i></a>
    </div>

</footer><!-- /.footer -->