<!-- Intro Section -->

<section class="intro-section">
    <div id="intro"  class="parallax col-sm-12">
        <div class="col-sm-6" style="margin-top: 100px;">
        	<div class="col-sm-12">
	        	<span class="animated infinite swing block-opaque">
	        		Vous avez des besoins
	        	</span>
        	</div>
        	<div class="col-sm-12">
	        	<span class="animated infinite pulse  block-opaque">
	        		nous avons des solutions
	        	</span>
        	</div>
        </div>
        <div class="col-sm-6" style="margin-top: 320px;">
        	<div class="col-sm-12 text-center">
	        	<span class="block-opaque  animated  fadeInDown ">
	  				Informatique
	            </span>
            </div>
            <div class="col-sm-12 text-center  animated  fadeInDown">
	            <span class="block-opaque">
	  				Télécoms
	            </span>
            </div>

            <div class="col-sm-12 text-center  animated  fadeInDown">
	            <span class="block-opaque">
	  				Systèmes embarqués
	            </span>
	        </div>
        </div>
    </div>
</section>
