<!-- Services Section -->
<section id="solutions" class="services  content-section">
    <div class="container">
        <div class="section-desc">
                <h2>Nos Solutions</h2>
                <p class="caption gray">Nos solutions s’appliquent dans plusieurs domaines d’intervention : TÉLÉCOM - MULTIMÉDIA - ELECTRONIQUE - INFORMATIQUE - BANQUES -ASSURANCES</p>
        </div><!-- /.col-md-12 -->

        <div class="row text-center">
            <div class="col-md-4">
                <div class="row services-item text-center wow flipInX" data-wow-offset="10">
                    <i class="glyphicon glyphicon-wrench"></i>
                    <h4>TELCOM</h4>
                    <p>Nous réalisons  des prestations de service en entreprise dans la France entière(*) et sur l’international.</p>
                </div><!-- /.row -->
            </div><!-- /.col-md-4 -->

            <div class="col-md-4">
                <div class="row services-item text-center wow flipInX" data-wow-offset="10">
                    <i class="glyphicon glyphicon-random"></i>
                    <h4>INFORMATIQUE</h4>
                    <p>Nos consultants informatiques interviennent en collaboration avec vos équipes études et de développement</p>
                </div><!-- /.row -->
            </div><!-- /.col-md-4 -->

            <div class="col-md-4">
                <div class="row services-item text-center wow flipInX" data-wow-offset="20">
                    <i class="glyphicon glyphicon-home"></i>
                    <h4>Systéme embarqué</h4>
                    <p>Idiese recrute et propose différents profils dans le secteur bancaire. Nous réalisons des prestations de service en entreprise</p>
                </div><!-- /.row -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<section id="services">
    <div class="container">
        <div class="section-desc">
            <h2>Nos Prestations</h2>
        </div>
        
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>



            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <!-- Start INFORMATIQUE Section -->
                    <div id="service-informatique" class="services-section">
                        <h3>Pole Informatique</h3>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="feature-2">
                                        <div class="media">
                                            <div class="pull-left">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                                <div class="border"></div>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">Web Design</h4>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-md-4 -->
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="feature-2">
                                        <div class="media">
                                            <div class="pull-left">
                                                <i class="glyphicon glyphicon-glass"></i>
                                                <div class="border"></div>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">HTML5 & CSS3</h4>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-md-4 -->
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="feature-2">
                                        <div class="media">
                                            <div class="pull-left">
                                                <i class="glyphicon glyphicon-glass"></i>
                                                <div class="border"></div>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">Wordpress Theme</h4>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-md-4 -->
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="feature-2">
                                        <div class="media">
                                            <div class="pull-left">
                                                <i class="glyphicon glyphicon-glass"></i>
                                                <div class="border"></div>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">Wordpress Plugin</h4>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-md-4 -->
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="feature-2">
                                        <div class="media">
                                            <div class="pull-left">
                                                <i class="glyphicon glyphicon-glass"></i>
                                                <div class="border"></div>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">Joomla Template</h4>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-md-4 -->
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="feature-2">
                                        <div class="media">
                                            <div class="pull-left">
                                                <i class="glyphicon glyphicon-glass"></i>
                                                <div class="border"></div>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">Joomla Extension</h4>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-md-4 -->
                                
                            </div><!-- /.row -->
                        
                        </div><!-- /.container -->
                    </div>
                    <!-- End INFORMATIQUE Section -->
                </div>

                <div class="item">
                    <!-- Start TELCOM Section -->
                    <div id="service-telcom" class="services-section">
                        <h3>Pole Télecom</h3>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="feature-2">
                                        <div class="media">
                                            <div class="pull-left">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                                <div class="border"></div>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">Web Design</h4>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-md-4 -->
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="feature-2">
                                        <div class="media">
                                            <div class="pull-left">
                                                <i class="glyphicon glyphicon-glass"></i>
                                                <div class="border"></div>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">HTML5 & CSS3</h4>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-md-4 -->
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="feature-2">
                                        <div class="media">
                                            <div class="pull-left">
                                                <i class="glyphicon glyphicon-glass"></i>
                                                <div class="border"></div>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">Wordpress Theme</h4>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-md-4 -->
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="feature-2">
                                        <div class="media">
                                            <div class="pull-left">
                                                <i class="glyphicon glyphicon-glass"></i>
                                                <div class="border"></div>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">Wordpress Plugin</h4>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-md-4 -->
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="feature-2">
                                        <div class="media">
                                            <div class="pull-left">
                                                <i class="glyphicon glyphicon-glass"></i>
                                                <div class="border"></div>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">Joomla Template</h4>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-md-4 -->
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="feature-2">
                                        <div class="media">
                                            <div class="pull-left">
                                                <i class="glyphicon glyphicon-glass"></i>
                                                <div class="border"></div>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">Joomla Extension</h4>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-md-4 -->
                                
                            </div><!-- /.row -->
                        
                        </div><!-- /.container -->
                    </div>
                    <!-- End TELCOM Section -->
                </div>

                <div class="item">
                    <!-- Start embedded Section -->
                    <div id="service-embedded" class="services-section">
                        <h3>Pole Système Embarqué</h3>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="feature-2">
                                        <div class="media">
                                            <div class="pull-left">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                                <div class="border"></div>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">Web Design</h4>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-md-4 -->
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="feature-2">
                                        <div class="media">
                                            <div class="pull-left">
                                                <i class="glyphicon glyphicon-glass"></i>
                                                <div class="border"></div>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">HTML5 & CSS3</h4>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-md-4 -->
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="feature-2">
                                        <div class="media">
                                            <div class="pull-left">
                                                <i class="glyphicon glyphicon-glass"></i>
                                                <div class="border"></div>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">Wordpress Theme</h4>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-md-4 -->
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="feature-2">
                                        <div class="media">
                                            <div class="pull-left">
                                                <i class="glyphicon glyphicon-glass"></i>
                                                <div class="border"></div>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">Wordpress Plugin</h4>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-md-4 -->
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="feature-2">
                                        <div class="media">
                                            <div class="pull-left">
                                                <i class="glyphicon glyphicon-glass"></i>
                                                <div class="border"></div>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">Joomla Template</h4>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-md-4 -->
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="feature-2">
                                        <div class="media">
                                            <div class="pull-left">
                                                <i class="glyphicon glyphicon-glass"></i>
                                                <div class="border"></div>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">Joomla Extension</h4>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-md-4 -->
                                
                            </div><!-- /.row -->
                        
                        </div><!-- /.container -->
                    </div>
                    <!-- End embedded Section -->
                </div>


            </div>
        </div>
    </div>

</section><!-- /.section -->

